.btn-confirm{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  color: #fff;
  background: #57b846;
  text-transform: uppercase;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border: none;
}